<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.evan.androidviewertemplates">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true"
        android:name="com.example.evan.androidviewertemplates.ViewerApplication">
        <activity android:name="com.example.evan.androidviewertemplates.MainActivity">
        </activity>
    </application>

</manifest>
