<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sam.codebaseintegration">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="com.example.evan.androidviewertemplates.ViewerApplication">
        <activity android:name="com.example.evan.androidviewertemplates.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.evan.androidviewertemplates.match_details.MatchDetailsActivity">
        </activity>
        <activity android:name="com.example.evan.androidviewertemplates.team_details.TeamDetailsActivity">
        </activity>
        <activity android:name="com.example.evan.androidviewertemplates.graphing.RankingsActivity">
        </activity>
        <activity android:name="com.example.evan.androidviewertemplates.team_details.MatchesActivity">
        </activity>
        <activity android:name="com.example.evan.androidviewertemplates.team_in_match_details.TeamInMatchDetailsActivity">
        </activity>
        <activity android:name="com.example.evan.androidviewertemplates.team_ranking.TeamRankingsActivity">
        </activity>
    </application>

</manifest>
